 @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
 .card{
      max-width: 550px;
      min-width: 420px;
      margin:  0 2rem;
      height: 550px;

    }
.card-img-top{
    height: 340px;
    width: 420px;
}



