
.flex-container{
    overflow-x: scroll;
    display: flex;
}

.header-characters{
     margin: 0 2rem;
     padding: 30px;
}

.header-planets{

   margin: 0 2rem;
   padding: 30px;

}

.header-vehicles {
    
     padding: 0 2rem;
     margin: 30px;
}




