@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.starwars-logo {
width: 100px;
margin-left: 20px;

  }
.input, button, select, optgroup, textarea{
  height: 39px;
  width:  185px;
  margin-right: 20px;
  font-size: 15px;
  border: 2px,solid black;
  border-radius: 25px;
  font-family: 'Press Start 2P', regular;
}