@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.jumbotron{
    margin:15px 30px 0px 30px;
    border-radius:10px;
    background: 
  url(https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-25.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white !important;
  height: 600px;
  
}
.display-4{
  margin-top: 50px;
  font-family: 'Press Start 2P', regular;
  font-size: 2.5rem;
  text-align: center;
}
.btn-primary, .btn-lg{
  // margin-top: 400px;
  // margin-left: 850px;
  background:transparent;
  border-color: transparent;
  font-family: 'Press Start 2P', regular; 
}